.icono-perfil-contenedor {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;   
    font-size: 17px;
    color: #000000;
    overflow: hidden;
    text-decoration: none;
    margin-left: -6px;
}