/* Contenedor principal de toda la página de Inicio */
.Contenedor_Pagina_Inicio {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-body);
  height: 100vh;
  margin-left: -8px;
}

/* Sección superior que agrupa Notas y Asignaciones */
.Seccion_Superior_Inicio {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 55vh;
  margin-bottom: 20px;
}

/* Contenedor específico para el componente de Notas */
.Contenedor_Notas_Inicio {
  width: 40%;
}

/* Contenedor específico para el componente de Asignaciones Recibidas */
.Contenedor_Asignaciones_Inicio {
  width: 50%;
  height: 50vh;
}

/* Sección inferior que contiene la tabla principal */
.Seccion_Inferior_Inicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%; 
} 

.Seccion_Inferior_Inicio h1 {
  font-weight: 100;
  font-size: 25px;
  padding-left: 20px;
}