.tabla-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.Tabla {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  table-layout: fixed;
}

/* Forzar a thead a comportarse como una tabla para alinear las columnas. */
.Tabla thead {
  display: table;
  width: 100%;
  table-layout: fixed;
}

/* La clave del scroll: tbody se convierte en un bloque con altura máxima y overflow. */
.Tabla tbody {
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Cada fila del cuerpo también debe ser una tabla para mantener la alineación. */
.Tabla tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  transition: background-color 0.3s, transform 0.3s; /* Transición suave para el hover. */
}

/* Estilos para las celdas del encabezado. */
.Tabla th {
  font-weight: 300;
  border-bottom: 0.4px solid var(--Borde-tabla);
  padding: 12px 8px;
  color: var(--Texto-primario)
}

/* Estilos para las celdas de datos. */
.Tabla td {
  border-bottom: 0.5px solid var(--Borde-tabla);
  height: 50px;
  padding: 8px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: var(--Texto-primario);
}

.Tabla tbody tr:hover {
  transform: scale(1.005);
  background-color: var(--Hover-tabla);
}